<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.get().getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input name="name" type="text" id="name"><br><br>
    <label for="email">Enter email: </label>
    <input name="email" type="text" id="email"><br><br>
    <label for="password">Enter password: </label>
    <input name="password" type="text" id="password"><br><br>
    <label for="type">Enter type: </label>
    <input name="type" type="text" id="type"><br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>
