<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update book</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.get().getId()})}" th:object="${book}">
    <label for="name">Enter book name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="authorName">Enter author name: </label>
    <input type="text" th:field="*{authorName}" id="authorName"/>
    <br/>
    <label for="year">Enter year: </label>
    <input type="text" th:field="*{year}" id="year"/>
    <br/>
    <label for="publisher">Enter publisher: </label>
    <input type="text" th:field="*{publisher}" id="publisher"/>
    <br/>
    <label for="description">Enter description: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <br/>
    <label for="recommendedRetailPrice">Enter recommended retail price: </label>
    <input type="text" th:field="*{recommendedRetailPrice}" id="recommendedRetailPrice"/>
    <br/>
    <label for="url">Enter url: </label>
    <input type="text" th:field="*{url}" id="url"/>
    <br/>
    <input type="submit" value="Update Book"/>
</form>

</body>
</html>
